html,
body {
    background-color: #514D4D;
    display: flex;
    height: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.error-match {
    margin-top: 10px;
    display: none;
    color: red;
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.top-bar {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    border-color: #FFFFFF;
    width: 100%;
    height: 100px;
}

.top-bar>#logo {
    width: 20%;
}

.top-bar>#user {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.top-bar>#search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 10px 15% 10px 15%;
    width: 70%;
    height: 60px;
}

.search-bar:hover {
    background-color: #FFFFFF;
}

.search-bar:focus {
    background-color: #FFFFFF;
}

.search-bar i {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    color: #646464;
}

.search-bar input {
    flex-grow: 1;
    background-color: transparent;
    margin-right: 10px;
    border: none;
    outline: none;
    color: #646464;
    font-size: medium;
}

.user-info {
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 0;
    width: fit-content;
    min-width: 100px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: larger;
}

.user-info:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.user-info img {
    height: 80%;
    border: 1px solid #646464;
    border-radius: 20px;
    margin-left: 10px;

}

.menu {
    width: 250px;
    height: 100%;
    border-right: 1px solid;
    border-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.menu hr {
    color: #FFFFFF;
    width: 90%;
}

.menu .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
    align-items: center;
    color: #FFFFFF;
    font-size: 30px;
}

.menu .row:hover {
    cursor: pointer;
    background-color: #999999;
}

.menu .row a {
    color: inherit;
    text-decoration: none;
}

.menu .row i {
    margin-left: 20px;
    margin-right: 10px;
}

.menu #hr-logout {
    display: none;
}

.menu #row-logout {
    display: none;
}

.menu .post-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 0 10% 20px 10%;
    height: 100px;
    align-items: center;
    background-color: #AA2D2D;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    display: none;
}

.menu .post-button a {
    color: inherit;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu .post-button i {
    color: #000;
    font-size: 50px;
    border: solid 7px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.menu .post-button:hover {
    background-color: #d84f4f;
}

.feed {
    flex-grow: 1;
    height: 100%;
}

.recommandations {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: solid 1px;
    border-color: #ffffff;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.recommandations h2 {
    text-align: center;
}

.recommandations .user-info {
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.recommandations hr {
    width: 90%;
    margin: 0px 5% 0px 5%;
    color: #FFFFFF;
}

.recommandations .users-recommandations {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    overflow-y: scroll;
}

.recommandations h3 {
    text-align: center;
}

.recommandations .posts-top {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
}

.recommandations .users-recommandations .user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #646464;
    margin: 20px;
    border-radius: 10px;
    height: 60px;
}

.recommandations .users-recommandations .user-row:hover {
    background-color: #D9D9D9;
    color: #000000;
    cursor: pointer;
}

.recommandations .users-recommandations .user-row .user-names {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.recommandations .users-recommandations .user-row img {
    height: auto;
    height: 80%;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-left: 10px;
}

.recommandations .users-recommandations .user-row button {
    height: 60%;
    border-radius: 10px;
    background-color: #D9D9D9;
    font-size: medium;
    margin-right: 10px;
    padding: 0 10px 0 10px;
}

.recommandations .users-recommandations .user-row button:hover {
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;
}

select#filter {
    margin-top: 10px;
    margin-left: 10px;
}

.row#filters {
    color: white;
    padding-left: 10px;
}

#hr-filter {
    width: 95%;
    border-top: 1px solid white;
}

div#posts-feed {
    overflow-y: scroll;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#posts-feed a {
    width: 100%;
}

.post-block {
    margin-left: 20px;
    background-color: #646464;
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

div#post-author h3 {
    color: #d9d9d9;
    margin-left: 10px;
}

div#post-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

div#post-author img {
    height: 50px;
    width: auto;
    border: solid 1px #d9d8d8;
    border-radius: 10px;

}

h2#post-title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    flex-wrap: wrap;
}

.post-content {
    background-color: #514d4d;
    border-radius: 20px;
    color: black;
    padding: 20px;
    max-height: 300px;
    overflow: scroll;
}

.post-content img {
    max-width: 300px;
}

div#stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 50%;
    color: white;
}

div#stats .row {
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
}

div#stats .row i {
    margin-right: 10px;
}

button#load-more {
    background-color: #aa2d2d;
    color: black;
    font-weight: bold;
    width: 150px;
    border: 0;
    border-radius: 10px;
}

button#load-more:hover {
    background-color: #d84f4f;
    cursor: pointer;
}