<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Log In</title>
    <link rel="icon" href="/static/images/Y-white.png" type="image/icon type" />
    <meta charset="utf-8" />
    <meta name="description" content='the best social network to talk about electronic'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="stylesheet" href="/static/CSS/login.css">
    <script src="https://kit.fontawesome.com/bc424452bc.js" crossorigin="anonymous"></script>
    <script src="/static/JS/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top-bar">
        <div id="logo">
            <a href="/"><img src="/static/images/Y-white.png" height=100%></a>
        </div>
    </div>
    <div class="wrapper">
        <div class="square">
            <div class="row">
              <form class="cell" id="login" onsubmit="event.preventDefault(); checkLogin()">
                <h2>Welcome back !</h2>
                <div class="subrow">
                  <label>Email / Username</label>
                  <input id="email" name="email" required/>
                </div>
                <div class="subrow">
                  <label>Password</label>
                  <input id="password" type="password" name="password" required/>
                </div>
                <input type="submit" role="button" id="btn-user" value="Log me in">
                </br>No account ?<a href="/signin">Create one now !</a>
              </form>
              <img src="/static/images/Y-white.png"/>
            </div>
          </div>
    </div>
</body>