<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Create a new post</title>
    <link rel="icon" href="/static/images/Y-white.png" type="image/icon type" />
    <meta charset="utf-8" />
    <meta name="description" content='the best social network to talk about electronic'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="stylesheet" href="/static/CSS/posts.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/bc424452bc.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css"
        rel="stylesheet">
    <!-- Include the highlight.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="/static/JS/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="top-bar">
        <div id="logo">
            <a href="/"><img src="/static/images/Y-white.png" height=100%></a>
        </div>
        <div id="search">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search-input" placeholder="Search on 𝕐">
            </div>
        </div>
        <div id="user">
            <a href="/login" id="login-link">
                <div class="user-info" id="user-info">
                    Login to 𝕐
                </div>
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="menu">
            <div class="row"><a href="/home"><i class="fa-solid fa-house"></i> Home</a></div>
            <hr>
            <div class="row"><a href="/messages"><i class="fa-solid fa-message"></i> Messages</a></div>
            <hr>
            <div class="row"><a href="/settings"><i class="fa-solid fa-gear"></i> Settings</a></div>
            <hr id="hr-logout">
            <div class="row" id="row-logout" onclick="logout()">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </div>
            <div style="flex-grow: 1;"></div>
        </div>
        <div class="post">
            <h1>{{ title }}</h1>
            <form onsubmit="event.preventDefault();sendNewPost('{{ id_post}}')">
                <label for="title"><i class="fa-solid fa-star-of-life"></i> Title</label>
                <textarea name="title" oninput="autoGrow(this)" maxlength="240" id="post-title" required></textarea>
                <label><i class="fa-solid fa-star-of-life"></i> Body</label>
                <div class="cell">
                    <div id="toolbar-container">
                        <span class="ql-formats">
                            <select class="ql-font"></select>
                            <select class="ql-size"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color"></select>
                            <select class="ql-background"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-header" value="1"></button>
                            <button class="ql-header" value="2"></button>
                            <button class="ql-blockquote"></button>
                            <button class="ql-code-block"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-direction" value="rtl"></button>
                            <select class="ql-align"></select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                            <button class="ql-video"></button>
                            <button class="ql-formula"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-clean"></button>
                        </span>
                    </div>
                    <div id="post-content">
                        <div id="editor">
                        </div>
                        <p id="quill-size">Size: 0/500</p>
                        <!-- Include the Quill library -->
                        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

                        <!-- Initialize Quill editor -->
                        <script>
                            const quill = new Quill('#editor', {
                                modules: {
                                    syntax: true,
                                    toolbar: "#toolbar-container"
                                },
                                placeholder: 'Let the world know your toughts...',
                                theme: 'snow', // or 'bubble'
                            });
                            var limit = 1500;
                            const sizeIndicator = document.getElementById("quill-size")
                            quill.on('text-change', function (delta, old, source) {
                                sizeIndicator.textContent = `Size: ${quill.getLength()}/${limit}`
                                if (quill.getLength() >= limit) {
                                    quill.deleteText(limit - 1, quill.getLength());
                                }
                            });
                            function getPostContent() {
                                return quill.getSemanticHTML();
                            }
                            function setPostContent(content) {
                                quill.container.firstChild.innerHTML = content;
                            }
                        </script>
                    </div>
                </div>
                <label><i class="fa-solid fa-star-of-life"></i> Tags (3 minimum)</label>
                <div class="row" id="tag-list">
                    <div id="tag-button" onclick="selectTag()"><i class="fa-solid fa-plus"></i> Add Tag</div>
                </div>
                <div style="flex-grow: 1;"></div>
                <input type="submit" value="{{ button }}">
            </form>
            <script>
                if ("{{ edit }}" == "yes") {
                    loadPostEdition("{{ id_post }}");
                }
            </script>
        </div>
        <div class="recommandations" id="recommandations">
            <div class="users-recommandations" id="users">
                <h3>Users with the same interests as you</h3>
            </div>
            <hr>
            <div class="posts-top" id="posts">
                <h3>Top posts at the moment</h3>
            </div>
        </div>
        <script>
            loadUserMenu();
            loadRecommandations();
        </script>
    </div>
</body>