<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Welcome</title>
    <link rel="icon" href="/static/images/Y-white.png" type="image/icon type" />
    <meta charset="utf-8" />
    <meta name="description" content='the best social network to talk about electronic'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="stylesheet" href="/static/CSS/profile.css">
    <script src="https://kit.fontawesome.com/bc424452bc.js" crossorigin="anonymous"></script>
    <script src="/static/JS/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="top-bar">
        <div id="logo">
            <a href="/"><img src="/static/images/Y-white.png" height=100%></a>
        </div>
        <div id="search">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search-input" placeholder="Search on 𝕐">
            </div>
        </div>
        <div id="user">
            <a href="/login" id="login-link">
                <div class="user-info" id="user-info">
                    Login to 𝕐
                </div>
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="menu">
            <div class="row"><a href="/home"><i class="fa-solid fa-house"></i> Home</a></div>
            <hr>
            <div class="row"><a href="/messages"><i class="fa-solid fa-message"></i> Messages</a></div>
            <hr>
            <div class="row"><a href="/settings"><i class="fa-solid fa-gear"></i> Settings</a></div>
            <hr id="hr-logout">
            <div class="row" id="row-logout" onclick="logout()">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="post-button" id="post-button">
                <a href="/post/new">
                    <i class="fa-solid fa-plus"></i> Add post
                </a>
            </div>
        </div>
        <div class="profile">
            <div class="row" id="row1">
                <img id="picture" src="/static/pictures/303349371823601460083524533892550762190.png">
                <div class="cell">
                    <h1 id="name">Super Admin</h1>
                    <h2 id="at">@admin</h2>
                    <div class="row" id="description">
                        Curabitur et dictum nulla, et fermentum ante. Etiam sed auctor massa. Vestibulum volutpat tortor nec lobortis consectetur. Vivamus rutrum scelerisque lectus id sagittis. Cras gravida erat est, sit amet tempus lectus tempor nec. Phasellus dapibus augue felis, sed gravida orci sodales at. Sed condimentum egestas lacus porttitor interdum. Aenean sed bibendum ex. Quisque rutrum eu eros nec gravida. Donec et gravida felis. Nunc hendrerit id risus id convallis. 
                    </div>
                    <div class="row">
                        <div id="date"></div>
                        <div id="gender"></div>
                        <div id="location"></div>
                        <div id="followers"><b>234</b> Followers</div>
                        <div id="following"><b>6</b> Following</div>
                    </div>
                </div>
            </div>

        </div>
        <script>loadUserProfile("{{ id_user }}")</script>
        <div class="recommandations" id="recommandations">
            <div class="users"></div>
            <hr>
            <div class="posts"></div>
        </div>
        <script>
            loadUserMenu();
            loadRecommandations();
        </script>
    </div>
</body>