<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Welcome</title>
    <link rel="icon" href="/static/images/Y-white.png" type="image/icon type" />
    <meta charset="utf-8" />
    <meta name="description" content='the best social network to talk about electronic'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <link rel="stylesheet" href="/static/CSS/profile.css">
    <link rel="stylesheet" href="/static/CSS/follow.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/bc424452bc.js" crossorigin="anonymous"></script>
    <script src="/static/JS/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="top-bar">
        <div id="logo">
            <a href="/"><img src="/static/images/Y-white.png" height=100%></a>
        </div>
        <div id="search">
            <div class="search-bar">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="search-input" placeholder="Search on 𝕐">
            </div>
        </div>
        <div id="user">
            <a href="/login" id="login-link">
                <div class="user-info" id="user-info">
                    Login to 𝕐
                </div>
            </a>
        </div>
    </div>
    <div class="wrapper">
        <div class="menu">
            <div class="row"><a href="/home"><i class="fa-solid fa-house"></i> Home</a></div>
            <hr>
            <div class="row"><a href="/messages"><i class="fa-solid fa-message"></i> Messages</a></div>
            <hr>
            <div class="row"><a href="/settings"><i class="fa-solid fa-gear"></i> Settings</a></div>
            <hr id="hr-logout">
            <div class="row" id="row-logout" onclick="logout()">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </div>
            <div style="flex-grow: 1;"></div>
            <div class="post-button" id="post-button">
                <a href="/post/new">
                    <i class="fa-solid fa-plus"></i> Create
                </a>
            </div>
        </div>
        <div class="profile">
            <div class="row" id="row1">
                <img id="picture" src="">
                <div class="cell">
                    <h1 id="name"></h1>
                    <h2 id="at"></h2>
                    <div class="row" id="description">

                    </div>
                    <div class="row">
                        <div id="date"></div>
                        <div id="gender"></div>
                        <div id="location"></div>
                        <div id="followers"></div>
                        <div id="following"></div>
                        <button id="edit" onclick="profileEditor()">Edit profile</button>
                    </div>
                </div>
            </div>
            <div class="row" id="row2">
                <div class="row">
                    <h2>Interests :</h2>
                    <div style="flex-grow: 1;"></div>
                    <i id="preference-show" class="fa-solid fa-circle-chevron-down"></i>
                </div>
                <div class="row" id="preference-tags">

                </div>
                <button id="edit-preferences" onclick="loadPreferencesEditor()">Edit your preferences</button>
                <script>
                    const buttonShow = document.getElementById("preference-show");
                    const rowPref = document.getElementById("preference-tags");
                    const editPref = document.getElementById("edit-preferences");
                    buttonShow.addEventListener("click", function () {
                        this.classList.toggle("rotated");
                        console.log(rowPref.style.display);
                        if (rowPref.style.display === "flex") {
                            rowPref.style.display = "none";
                            editPref.style.display = "none";
                        } else {
                            rowPref.style.display = "flex";
                            if(editPref.getAttribute("self") === "yes") {
                                editPref.style.display = "block";
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <script>
            switch("{{ action }}") {
                case "load_profile":
                    loadUserProfile("{{ id_user }}")
                    break;
                case "load_followers":
                    loadUserFollowers("{{ id_user }}")
                    loadUserProfile("{{ id_user }}")
                    break;
                case "load_following":
                    loadUserFollowing("{{ id_user }}")
                    loadUserProfile("{{ id_user }}")
                    break;
            }
        </script>
        <div class="recommandations" id="recommandations">
            <h3>Users with the same interests as you</h3>
            <div class="users-recommandations" id="users">
            </div>
            <hr>
            <h3>Top posts at the moment</h3>
            <div class="posts-top" id="posts">
            </div>
        </div>
        <script>
            loadUserMenu();
            loadRecommandations();
        </script>
    </div>
</body>
<script>
    document.getElementsByClassName("wrapper")[0].style.height = window.innerHeight - 100 + "px";
</script>
</html>